:root {
    --skua-background-light: #f1f0d6; /* #fffdd0; */
    --skua-foreground-light: #2b3351; /* #22244f; */
    --skua-accent-light: #d7dbd7;

    --skua-background-dark: #131313;
    --skua-foreground-dark: #c5c8c6;
    --skua-accent-dark: #0c0d0d;

    --skua-flair: var(--skua-foreground);
    --skua-page-width: 90vw;
    --skua-max-page-width: 80ch;

    background-color: var(--skua-background);
    color: var(--skua-foreground);

    font-family: sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

/* why do i need to do this? fuck if i know */

button, input, label {
    background-color: unset;
    color: unset;
}

html[data-theme="dark"], :root {
    --skua-background: var(--skua-background-dark);
    --skua-foreground: var(--skua-foreground-dark);
    --skua-accent: var(--skua-accent-dark);
    --skua-accent-inverted: var(--skua-accent-light);
}


@media (prefers-color-scheme: light) {
    :root {
        --skua-background: var(--skua-background-light);
        --skua-foreground: var(--skua-foreground-light);
        --skua-accent: var(--skua-accent-light);
        --skua-accent-inverted: var(--skua-accent-dark);
    }
}

html[data-theme="light"] {
    --skua-background: var(--skua-background-light);
    --skua-foreground: var(--skua-foreground-light);
    --skua-accent: var(--skua-accent-light);
    --skua-accent-inverted: var(--skua-accent-dark);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

h1, h2 {
    line-height: 1.8;
    font-size: 1.4rem;
    text-align: center;
}

main {
    width: var(--skua-page-width);
    max-width: var(--skua-max-page-width);
    margin: 0 auto;
}

a {
    text-decoration: underline solid 1px;
    outline: none;
    color: var(--skua-foreground);
}
a:hover {
    text-decoration: underline dashed 1px;
}
a:visited {
    color: var(--skua-accent-inverted);
}

header *, footer * {
    background-color: var(--skua-accent);
    margin: 0;
    padding: 0;
}

header, footer {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--skua-accent);
    padding: .4rem 1rem;
}

footer {
    margin-top: auto;
}

table {
    max-width: var(--skua-max-page-width);
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
td, th {
    padding: 2px 20px 2px 10px;
}
td {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
}
tr:hover {
    transition: background-color ease-out .10s;
}
tbody tr:nth-child(even) {
    background-color: var(--skua-accent);
}
th {
    border-bottom: 1px solid var(--skua-foreground);
    text-align: center;
}
tbody tr:nth-child(even):hover { 
    background-color: var(--skua-background);
    box-shadow: 0 0 0 2px var(--skua-accent) inset;
}
tbody tr:hover {
    background-color: var(--skua-accent);
    box-shadow: 0 0 0 2px var(--skua-background) inset;
}

ol {
    list-style-type: decimal-leading-zero;
}

pre, pre *, :not(pre) > code, code * {
    background-color: var(--skua-accent);
    padding: 0.4rem;
}

button {
    border: solid 1px var(--skua-foreground);
}

