:root {
    --lbg: #F8F0E3;
    --lfg: #272d35;
    --la: #ead1aa;

    --dbg: #1c1d1d;
    --dfg: #c5c8c6;
    --da: #181919;

    --bg: var(--dbg);
    --fg: var(--dfg);
    --a: var(--da);
    --na: var(--la);

    --pgw: 90vw;
}

@media screen and (min-width: 1100px) {
    :root {
        --pgw: 80ch;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: var(--lbg);
        --fg: var(--lfg);
        --a: var(--la);
        --na: var(--da);
    }
}

html, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    height: 100vh;
    background-color: var(--bg);
    color: var(--fg);

    text-align: justify;
    font-size: 18px;
    line-height: 1.5;

    font-family: sans-serif;
}

html[data-font="monospace"] {
    font-family: monospace;
}

body {
    width: var(--pgw);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* tables */

table {
    border-collapse: collapse;
    padding: 10px;
}

td, th {
    padding: 5px 20px;
}

tr {
    transition: background-color ease-in .4s;
}

td + td, th + th {
    border-left: 2px solid var(--fg);
}

thead, th {
    border-bottom: 2px solid var(--fg);
}

table caption {
    font-style: italic;
    margin-bottom: 5px;
}

tbody tr:nth-child(even) { background-color: var(--a); }
tbody tr:nth-child(even):hover { 
    background-color: var(--bg);
    border: solid 2px var(--a); 
}
tbody tr:hover {
    background-color: var(--a);
    border: solid 2px var(--bg); 
}

